# Porta do servidor HTTP
PORT=3000

# Banco de dados PostgreSQL (local ou Supabase)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=sua_senha_aqui
DB_DIALECT=postgres

# SSL: use "true" para banco em nuvem (Supabase) e "false" para banco local
DB_SSL=false
